* {
  margin: 0;
  padding: 0;
}

body {
  padding: 4rem 0.75rem 2rem;
}

h1 {
  color: #000;
  font-family: "PT Serif";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.62px;
}

nav > div {
  margin-top: 2.5rem;
}

h2 {
  color: #000;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

nav > div > p {
  color: #000;
  font-family: "Poppins";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.625rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 1.5rem;
  width: 100%;

  margin-top: 5rem;
}

.card {
  display: flex;
}

img {
  height: 17rem;
  margin-bottom: 0.625rem;
}

.primary-name {
  color: #000;
  font-family: "Poppins";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-secondary {
  font-family: "PT Serif";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  writing-mode: vertical-rl;
  margin-left: 0.5rem;
}

.card:nth-child(2n) {
  margin-top: 4rem;
}

footer {
  color: #bdbdbd;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;

  margin-top: 10rem;
}

footer > b > a {
  color: #bdbdbd;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@media (min-width: 700px) {
  body {
    padding: 7rem 5rem 4rem;
  }

  nav {
    display: flex;

    width: 80%;
    max-width: 75rem;
    margin: 0 auto;
  }

  h1 {
    width: 50%;
    font-size: 2.25rem;
  }

  nav > div {
    width: 50%;
    margin-top: 0;
  }

  h2 {
    font-size: 1.125rem;
  }

  nav > p {
    font-size: 1.125rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem 4rem;

    width: 80%;
    max-width: 75rem;
    margin: 6rem auto 0;
  }

  img {
    height: 25rem;
    margin-bottom: 1rem;
  }

  .primary-name {
    font-size: 1.25rem;
  }

  .card-secondary {
    font-size: 0.75rem;
  }
  .card:nth-child(2n) {
    margin-top: 0;
  }
  .card:nth-child(2),
  .card:nth-child(5) {
    margin-top: 6rem;
  }
}
